@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .fontmain {
    @apply font-custom1 text-6xl text-gray-800;
  }
  .font1 {
    @apply font-custom2;
  }
  .font2 {
    @apply font-custom3 text-6xl text-gray-800;
  }
  .font3 {
    @apply font-custom4 text-6xl text-yellow-600;
  }
  .font4 {
    @apply font-custom5 ;
  }
  .font5 {
    @apply font-custom6 text-6xl text-green-600;
  }
  .font6 {
    @apply font-custom7 text-6xl;
  }
    .wavy {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: #bfb1d5;
      
    }

    .wavy2 {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: white;
      
    }

    .wavy3 {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: #adddcf;
      
    }

    .wavy4 {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: #abe1fd;
      
    }

   .overflowy  {
      max-height:150px;
      overflow:scroll;
    }
    
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    .vl {
      border-left: 2px dotted black;
      height: 250px;
    }

}


