@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .fontmain {
    @apply font-custom1 text-6xl text-gray-800;
  }
  .font1 {
    @apply font-custom2;
  }
  .font2 {
    @apply font-custom3 text-6xl text-gray-800;
  }
  .font3 {
    @apply font-custom4 text-6xl text-yellow-600;
  }
  .font4 {
    @apply font-custom5 ;
  }
  .font5 {
    @apply font-custom6 text-6xl text-green-600;
  }
  .font6 {
    @apply font-custom7 text-6xl;
  }
    .wavy {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: #bfb1d5;
      
    }

    .wavy2 {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: white;
      
    }

    .wavy3 {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: #adddcf;
      
    }

    .wavy4 {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: #abe1fd;
      
    }

   .overflowy  {
      max-height:150px;
      overflow:scroll;
    }
    
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    .vl {
      border-left: 2px dotted black;
      height: 250px;
    }

    .vl2 {
      border-left: 2px dotted black;
      height: 260px;
    }

      .vl3 {
      border-left: 2px dotted black;
      height: 100px;
    }

}


.modal-base {
  top: 50%;
  position: relative;
  background-color: #fefefe;
  border-radius: 20px;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.modal-base_after-open {
  opacity: 1;
  transform: scale(1);
  overflow: scroll;
}

.modal-base_before-close {
  transform: scale(.2);
  opacity: 0;
}

.overlay-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 66, 66, .5);
  opacity: 0;
    transition: all 0.3s ease-out;
}

.overlay-base_after-open {
  opacity: 1;
}

.overlay-base_before-close {
  opacity: 0;
}

.modal-open {
  overflow: hidden;
}